@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
    --background-color: hsl(212, 45%, 89%);;
    --heading-color: hsl(218, 44%, 22%);
    --paragragh-color: hsl(220, 15%, 55%);
    --white: hsl(0, 0%, 100%);
}   


body{
    min-height: 100vh;
    background-color: var(--background-color);
    display: grid;
    place-content: center;
}

.container{
    width: 40rem;
    background-color: var(--white);
    padding: 2.4rem;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
}

.qr-code img{
    width: 350px;
    height: auto;
    border-radius: 9px;
    
}

.text{
    padding: 1.8rem 1.2rem;

}

h1{
    color: var(--heading-color);
    font-size: 2.6rem;
    margin-bottom: 1.8rem;
    text-align: center;
    line-height: 1.2;
}




.text .description{
    font-size: 1.5rem;
    text-align: center;
    color: var(--paragragh-color);
    letter-spacing: 0.12em;
    line-height: 1.5;
}



/* Footer  */

.attribution{
    color: var(--paragragh-color);
    font-size: 1.4rem;
    text-align: center;
    margin-top: 3.2rem;
}

.link a{
    text-decoration: none;
    color: var(--heading-color);
}

.link:hover, .link:focus{
    border-bottom: 1px solid var(--heading-color);
}